.banner{
    width: 100%;
    position: relative;
}
.banner .banner-pic{
    width: 100%;
    aspect-ratio: 1920/400;
}
.banner .banner-pic img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.banner .banner-text{
    position: absolute;
    right: clamp(10rem, 20vw, 20rem);
    top: clamp(2rem, 5vw, 6rem);
}
.banner .banner-text h1{
    font-size: var(--h1-font-size);
    padding-bottom: 0.5rem;
}
.banner .banner-text h2{
    font-size: var(--h2-font-size);
}