.selection{
    width: 100%;
}
.selection .wrap{
    max-width: 90%;
    margin:auto;
    display: grid;
    /* align-items: center; */
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(2);
}
.selection h1{
    font-size: var(--fs1-font-size);
    font-weight: 600;
    line-height: 1.5;
}
.selection .location{
    grid-row: 1/3;
    grid-column: 1/2;
    justify-self:self-end;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
}
.selection .location span{
    font-size: var(--fs3-font-size);
    /* align-self: self-start; */
    cursor: pointer;
    border-radius: .5rem;
}
.selection .map{
    grid-row: 1/2;
    grid-column: 2/3;
    width: 80%;
    aspect-ratio: 3/4;
}
.selection .map img{
    display: block;
    width: 100%;
}
.selection .location-list{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #333;
    background-color: transparent;
    border: 1px solid rgba(2, 222, 197, 0.5);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(2, 222, 197, 0.5);
    padding: 1rem;
}
.selection .location-list h2{
    font-size: var(--fs2-font-size);
}
.selection .location-list .txt span{
    font-size: var(--fs4-font-size);
    display: block;
    margin: .5rem 0;
}

@media screen and (min-width:768px){
    .selection .wrap{
        margin: 2rem auto;
        max-width: 90%;
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
    .selection .map{
        margin-top: 5%;
        width: 30%;
    }
    .selection .location-list{
        align-self: center;
    }
}
.selection a{
    text-decoration: none;
    color: #212A2B;
    font-size: var(--fs4-font-size);
    font-weight: 600;
    background-color:#02DEC5;
    border-radius: 1rem;
    line-height: 2rem;
    text-align: center;
    margin: 1rem 0;
}
.course{
    text-align: center;
    padding-top: 2.5em;
    width: 100%;
}
.course .wrap{
    max-width:100%;
    margin:0 auto 3rem auto;
}
.course .course-list-wrap{
    max-width: 90%;
    margin: 0 auto;
}
.course .course-list{
    max-width: 100%;
    padding:2.5rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: left;
}
.course .course-list .course-card{
    width: calc(65% - 3rem);
    padding: 1em 2em;
    border:2px solid #02DEC5;
    border-radius: 1.875rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:768px){
    .course .course-list .course-card{
        width: calc(33.333% - 4rem);
    }
}
@media screen and (min-width:1024px){
    .course .course-list .course-card{
        width: calc(20% - 3rem);
    }
}
.course-card >*:not(:first-child){
    padding:5% 0;
}
.course .course-list .course-card a{
    position: absolute;
    top: 1%;
    right: 1%;
}
.course .course-list .course-card .card-head span{
    font-size: var(--fs4-font-size);
    color: #B2B2B2;
}

.course .course-list .course-card .card-head .poster{
    overflow: hidden;
    margin: .5rem 0;
    border-radius: 1rem;
}
.course .course-list .course-card .card-head .poster img{
    width: 100%;
    vertical-align: middle;
}
.course .course-list .course-card .title{
    font-size: var(--fs3-font-size);
    line-height: 1.5;
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
    flex-grow: 1;
}
.course .course-list .course-card .card-foot{
    font-size: var(--fs4-font-size);
    display: flex;
    justify-content: space-between;
}
.cen{
    display: none;
}
.sou{
    display: none;
}