:root{
    --fs1-font-size:clamp(2rem, 3.334vw, 3rem);
    --fs2-font-size:clamp(1.5rem, 2.441vw, 1.625rem);
    --fs3-font-size:clamp(1rem, 1.667vw, 1.125rem);
    --fs4-font-size:clamp(0.75rem, 1.269vw, 0.875rem);
}
body{
    background-color: #212A2B;
    color: #fff;
    font-family: "Noto Sans TC", "Roboto",sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #212A2B;
    z-index: 99;
}
header .wrap{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .wrap .nav-logo img{
    width: 100%;
    vertical-align: middle;
    margin: 1rem;
}
#nav-switch{
    display: none;
}
header .wrap nav .nav-bar{
    list-style: none;
    display: flex;
}
header .wrap .nav-bar a{
    text-decoration: none;
    font-size: var(--fs3-font-size);
    color: #fff;
    padding: 0 10px;
}
@media screen and (max-width:1024px){
    header .wrap{
        position: relative;
        justify-content: left;
    }
    header .wrap .nav-logo img{
        width: 50%;
    }
    header nav{
        display: none;
    }
    #nav-switch:checked ~ header nav{
        display: block;
    }
    header nav .nav-bar{
        position: fixed;
        z-index: 100;
        inset: 0 0 0 40%;
        background-color: rgba(100, 100, 100, 0.1);
        backdrop-filter: blur(1.5rem);
        -webkit-backdrop-filter: blur(1.5rem);
        padding: min(20vh,10rem) 2.5rem;
        flex-direction: column;
        gap: 1.5rem;
        letter-spacing: 3px;
    }
    header .hb{
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        z-index: 999;
        top: 20%;
        right: 10%;
    }
    header .hb span{
        width: 80%;
        height:2px;
        background-color: #02DEC5; 
        margin: 3px auto;
        border-radius: 5px;
        animation: crossLine 1s linear;
    }
}
/* signup */
.signup{
    width: 50%;
    margin:auto;
    padding: 3% 5%;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .1);
}
.signup h1{
    font-size: var(--fs1-font-size);
    font-weight: 600;
    text-align: center;
    margin: 1.5rem 0;
}
.signup .sign-other{
    text-align: center;
    background-color: #02DEC5;
}
.signup form a{
    text-decoration: none;
    font-size: clamp(0.5rem,1vw,0.8rem);
    color: #B2B2B2;
    display: inline-block;
    padding: 2% 5%;
}
.signup form a:nth-child(1){
    justify-self: end;
}
.signup form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
@media screen and (max-width:768px){
    .signup form{
        display: flex;
        flex-direction: column;
    }
}
.signup form input{
    color: #FFF;
    background: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: .8rem;
    font-size: var(--fs4-font-size);
    padding: .8rem;
}
::placeholder{
    color: #FFF;
    font-size: var(--fs4-font-size);
}
.signup form select{
    appearance: none;
    color: #FFF;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: .8rem;
    font-size: var(--fs4-font-size);
    cursor: pointer;
    padding:0 .8rem;
}
.signup form select option{
    background-color: #212A2B;
}
.signup .check{
    font-size: clamp(0.5rem,1vw,0.8rem);
    display: inline-block;
    padding-top: .2rem;
} 

    

