main{
    width: 100%;
    background-color: #cecece;
    /* background-image: url(../img/journal-textures.png); */
    color: #212A2B;
    position: relative;
    padding: 10px 0;
}
main::before{
    content: "";
    display: block;
    position: relative;
    /* position: absolute; ?? */
    background-image: linear-gradient(45deg, #cecece 25%, transparent 25%),linear-gradient(-45deg, #cecece 25%, #212a2b 25%);
    background-size: 10px 10px;
    height: 10px;
    top: -10px;
}
main::after{
    content: "";
    display: block;
    position: relative;
    /* position: absolute; ?? */
    background-image: linear-gradient(135deg, #cecece 25%, transparent 25%),linear-gradient(-135deg, #cecece 25%, #212a2b 25%);
    background-size: 10px 10px;
    height: 10px;
    bottom: -10px;
}
main .wrap{
    padding:2rem;
    max-width: 80%;
    margin: auto;
}
.journal-index{
    display: flex;
    gap: 3rem;
    margin: 1rem auto 2rem;
}
.journal-index .month{
    font-size: var(--h2-font-size);
    font-weight: 600;
}
.journal-index .category{
    font-size: var(--h3-font-size);
}
@media screen and (max-width:768px){
    .journal-index{
        flex-direction: column;
        gap: .5rem; 
    }
    .journal-index .month{
        font-size: var(--h3-font-size);
    }
    .journal-index .category{
        display: none;
    }
}
.title{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 3rem 0 2rem;
    border-top: 1px solid #212A2B;
    text-align: center;
}
.title h1{
    font-size: var(--h1-font-size);
    font-weight: 600;
}
.title .sub-title{
    font-size: var(--h3-font-size);
}
.journal-index span, .title span{
    font-size: var(--p--font-size);
}
.font-btn{
    text-align: right;
}
.font-btn .path-secondery{
    letter-spacing: 0;
    padding: .5rem;
    margin-bottom: 1rem;
}
/* ===================================================== */
main article{
    padding-bottom: 2.5rem;
}
article .item .pic-left{
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}
article .item .pic-left::after{
    content:"";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 147%;
}
article .item .pic-left img{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* ============================================================ */
article .item .pic-right{
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}
article .item .pic-right::after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 55.9%;
}
article .item .pic-right img{
    position:absolute;
    width: 100%;
    height: 100%;
}
/* ============================================================ */
main .wrap article .container{
    display: flex;
    gap: 3rem;
}
main .wrap article .container .right{
    width: 70%;
}
main .wrap article .container .left{
    width: 30%;
}
main .wrap article .container .item p{
    line-height: 1.5;
    text-align: justify;
}
.paragraph-right{
    column-count:2;
    gap: 3rem;
}

@media screen and (max-width:768px){
    main .wrap article .container{
        max-width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem; 
    }
    main .wrap article .container .item{
        width: 100%;
    }
    .paragraph-right{
        column-count:auto
    }
}
.path{
    width: 90%;
    margin: auto;
    text-align: right;
}
@media screen and (max-width:768px) {
    .path{
        text-align: center;
    }
}






