.banner{
    width: 100%;
    position: relative;
}
.banner .banner-pic{
    width: 100%;
    aspect-ratio: 1920/400;
}
.banner .banner-pic img{
    display: block;
    width: 100%;
    height: 100%;
}
.banner .banner-text{
    position: absolute;
    right: 10%;
    top: 40%;
}
.banner .banner-text h1{
    font-size: var(--fs1-font-size);
    padding-bottom: 0.5rem;
    font-weight: 600;
}
.banner .banner-text h2{
    font-size: var(--fs2-font-size);
}
@media screen and (max-width:768px){
    .banner .banner-text h1{
        font-size: var(--fs3-font-size);
    }
    .banner .banner-text h2{
        font-size: var(--fs4-font-size);
    }
}

main{
    width: 100%;
    background-color: #DDDDDD;
    background-image: url(../img/news-backgurond-textures.png);
}
.news-list{
    max-width: 90%;
    margin: auto;
    padding: 2.5rem 0;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
    gap: 2rem;
}
.news-list .news-link{
    padding: 2.5rem;
    border: 2px solid #000;
    border-radius: 1rem;
    text-decoration: none;
    line-height: 1.5;
    color: #000;
    position: relative;
}
.news-list .news-link>*{
    padding-bottom: 1rem;
}
.news-list .news-link h3{
    font-size: var(--fs3-font-size);
    font-weight: 600
}
.news-list .news-link span{
    font-size: var(--fs4-font-size);
    color: #212A2B;
}

.fa-arrow-right{
    position: absolute;
    bottom: 10%;
    right: 10%;
}

