/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300,700&display=swap');

$sans-serif: 'Inter', sans-serif;

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	font-size: 62.5%; 

	* {
		box-sizing: inherit;
	}
} */

/* body {
	align-items: center;
	background: linear-gradient(90deg, #2f2023, #2f2023 46.8rem, #eeeae0 46.8rem, #eeeae0);
	display: flex;
	font-family: $sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	justify-content: center;
	min-height: 100vh;
	position: relative;
	
	@media (max-width: 1023px) {
		background: linear-gradient(180deg, #2f2023, #2f2023 22.6rem, #eeeae0 22.6rem, #eeeae0);
	}
} */

h2 {
	font-size: 1.6rem;
}

details {	
	&[open] summary::after {
		transform: rotate(45deg);
	}
	
	&:last-of-type {
		border-bottom: 0.1rem solid #d4bb8f;
	}
	
	summary {
		border-top: 0.1rem solid #d4bb8f;
		cursor: pointer;
		display: flex;
		font-size: 2rem;
		font-weight: 300;
		list-style: none;
		margin-bottom: 1.6rem;
		padding-top: 1.6rem;
		
		&::after {			
			font-family: 'Material Symbols Outlined';
			content: "add_circle";
			margin-left: auto;
			transform-origin: center;
		}
	}
}




@media screen and (width<768px){
    article .first-paragraph,.second-paragraph{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem 0;
    }
    /* left==================== */
    article .first-paragraph .pic-left{
        width: 100%;
        aspect-ratio: 387/570;
    }
    article .first-paragraph .pic-left img{
        display: block;
        width: 100%;
    }
    /* right=================== */
    article .second-paragraph .pic-rightL{
        display: none;
    }
    article .second-paragraph .pic-rightS{
        width: 100%;
        aspect-ratio: 387/255;
    }
    article .second-paragraph .pic-rightS img{
        display: block;
        width: 100%;
    }
}
@media screen  and (width>=768px){
    article{
        display: grid;
        grid-template-rows: repeat(4/ 1fr);
        grid-template-columns: repeat(auto-fit/ 1fr);
        gap: 2.5rem;
        /* max-width: 900px; */
    }

    article .first-paragraph .pic-left{
        grid-row: 1/3;
        grid-column: 1/2;
    }
    article .first-paragraph p{
        grid-row: 4/5;
        grid-column: 1/2;
    }

    article .second-paragraph{
        /* width: 600px; */
    }
    article .second-paragraph:nth-child(2){
        grid-row: 1/2;
        grid-column: 2/4;
    }
    article .second-paragraph:nth-child(3){
        grid-row: 3/5;
        grid-column: 2/3;
        display: block;
        /* width: 200px; */
    }
    article .second-paragraph:nth-child(4){
        grid-row: 3/5;
        grid-column: 3/4;
        display: block;
        /* width: 200px; */
    }

    /* right=================== */
    article .second-paragraph .pic-rightS{
        display: none;
    }
    article .second-paragraph .pic-rightL{
        width: 70%;
        aspect-ratio: 690/386;
    }
    article .second-paragraph .pic-rightL img{
        display: block;
        width: 100%;
    }
}