.cover{
    width: 100%;
}
.wrap{
    max-width:90%;
    margin:5rem auto;
}
.cover .cover-img,.cover-deco-md,.cover-deco-lg{
    width: 100%;
    vertical-align: center;
}
.cover h1{
    font-size: clamp(2rem,3.334vw,3rem);
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 1.5;
}
.cover h1 span{
    font-size: clamp(1rem,2.381vw,1.875rem);
}
@media(width<=1024px){
    .cover .cover-img,.cover-deco-md,.cover-quote-md{
        text-align: center;
    }
    .cover .cover-quote-lg, .cover-deco-lg{
        display: none;
    }
}
@media(width>1024px){
    .cover .wrap{
        display: grid;
        gap: 1rem;
        grid-template-rows: repeat(2/1fr);
        grid-template-columns: repeat(3/1fr);
    }
    .cover .cover-quote-lg{
        order: 1;
        grid-row: 1/2;
        grid-column: 1/3;
        align-self:center;
        justify-self: end;
    }
    .cover .cover-img{
        grid-row: 1/2;
        grid-column:3/4 ;
    }
    .cover .cover-deco-lg{
        grid-row: 2/3;
        grid-column:1/span 3;
        justify-self: center;
        text-align: center;
    }

    .cover .cover-quote-md,.cover-deco-md{
        display: none;
    }
}


/* ==============================================teacher */
.teacher{
    width: 100%;
}
.teacher .wrap{
    max-width: 90%;
    margin:5rem auto;
    display: grid;
    gap: 2.5rem;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr)) ;
}

.teacher .teacher-intro{
    border-radius:30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
.teacher .teacher-intro h2{
    font-size: clamp(1rem,2.666vw,2.5rem);
    font-weight: 600;
}
.teacher .teacher-intro p{
    font-size: clamp(1rem,1.5vw,1.125rem);
    line-height: 1.5;
}
.teacher .teacher-intro .btn-primary{
    text-decoration: none;
    font-size: clamp(1rem,2.381vw,1.875rem);
    font-weight: 600;
    color: #212A2B;
    background-color: #02DEC5;
    border-radius: 1.5rem;
    text-align: center;
    padding: .5rem;
}


.teacher .teacher-card{
    display: grid;
    grid-template-rows: repeat(3/fr);
    gap: 1rem;
    padding: 2.5rem;
    justify-items: center;
    align-items:center;
    position: relative;
    border: 1px solid #fff;
    border-radius:1.875rem;
    background-image: radial-gradient( rgba(254,254,254,0) 30%, rgba(255,255,255,0.7) 200%); 
}
.teacher .teacher-card a{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: rotate(-40deg);
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    /* font-size: clamp(1rem,2.666vw,2.5rem); */
    /* line-height: 2.666vw; */
    color: #fff;
    text-align: center;
}
.teacher .teacher-card .photo{
    grid-row: 1/2;
}
.teacher .teacher-card .photo img{
    width: 100%;
    vertical-align: middle;
}
.teacher .teacher-card .title{
    grid-row: 2/3;
    font-size: clamp(1.5rem,2.381vw,1.875rem);
    font-weight: 600;
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
}
.teacher .teacher-card .content{
    grid-row: 3/4;
    font-size: clamp(1rem, 1.667vw, 1.5rem);
    line-height: 1.5;
    text-align: justify;
}

/* ============================================course */
.course{
    max-width: 100%;
}
.course .wrap{
    max-width: 90%;
    margin:5rem auto;
}
.course h2{
    font-size: clamp(1rem,2.666vw,2.5rem);
    font-weight: 600;
    text-align: center;
    padding-bottom: 2rem;
    /* border-bottom: 3px solid #fff; */
}
.course .course-list{
    padding: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    flex: 1,1,100%;
}

.course .course-list .course-card{
    display: grid;
    grid-template-rows:3/1fr ;
    grid-template-columns:2/1fr ;
    gap: 1rem;
    padding: 1rem 2.5rem;
    border:3px solid #02DEC5;
}
.course .course-list .course-card .header{
    grid-row: 1/2;
    grid-column: 1/3;
}
.course .course-list .course-card .header span{
    font-size: clamp(1rem, 1.667vw, 1.5rem);
    color: #B2B2B2;
}
.course .course-list .course-card .header .poster{}
.course .course-list .course-card .header .poster img{
    width: 100%;
    vertical-align: middle;
}

.course .course-list .course-card .title{
    grid-row: 2/3;
    grid-column: 1/3;
    font-size: clamp(1.5rem,2.381vw,1.875rem);
    line-height: 1.5;
    padding-bottom: 1rem;
    border-bottom: 3px solid #fff;
}

.course .course-list .course-card .company{
    grid-row: 3/4;
    grid-column: 1/2;
}
.course .course-list .course-card .location{
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: end;
}