@media(min-width:768px){}
/* 兩欄 */
@media(min-width:1024px){}
/* 三欄 */
@media(min-width:1200px){}
/* 四欄 */

.teacher .wrap .intro{}
.teacher .wrap .intro h2{
    color: #fff;
    letter-spacing: 5px;
    margin: 30px;
} 
.teacher .wrap .intro p{
    color: #fff;
    margin: 30px;
    line-height: 1.5;
}
.teacher .wrap .teacher-btn .btn-primary,.btn-defult{
    width: 120px; 
    height: 60px;
    letter-spacing: 8px;
    margin: 20px 10px;
}



.teacher .wrap .teacher-card{
    
    /* margin-right: 20px;
    padding: 50px 20px 20px 20px;  */



}
.teacher .wrap .teacher-card a{

}
.teacher .wrap .teacher-list .teacher-card img{
    width: 100%;
}
.teacher .wrap .teacher-card .title{

}
.teacher .wrap .teacher-card .content{





/* ========================course */
